In [28]:
import pandas as pd
import numpy as np

In [36]:
import pandas as pd
def process_data(input_csv, col_name, start_year, end_year, output_csv):
    # Read the input CSV
    df = pd.read_csv(input_csv)
    df['DATE'] = pd.to_datetime(df['DATE'])
    
    # Filter the dataframe based on start year
    df_filtered = df[df['DATE'].dt.year >= start_year]
    
    # Calculate the subrange mean
    def subrange_mean(df, start):
        avgs = []
        for year in range(start, 2024):
            df_temp = df[(df['DATE'].dt.year == year) & ((df['DATE'].dt.month >= 4) | (df['DATE'].dt.year == (year+1)) & (df['DATE'].dt.month <= 3))]
            avgs.append(df_temp[col_name].mean())
        return avgs
    
    subrange_mean_values = subrange_mean(df_filtered, start_year)
    years = np.arange(start_year, end_year)
    
    # Create a new dataframe with the subrange mean values
    data = {'Year': years, 'Subrange Mean': subrange_mean_values}
    df_subrange_mean = pd.DataFrame(data)
    
    # Write the new dataframe to the output CSV
    df_subrange_mean.to_csv(output_csv, index=False)
    
    return df_subrange_mean

In [40]:
process_data('raw/MEDCPIM158SFRBCLE.csv','MEDCPIM158SFRBCLE', 1983,2024, 'clean/cpi.csv')

    Year  Subrange Mean
0   1983       9.344444
1   1984       7.388889
2   1985       7.177778
3   1986       6.988889
4   1987       6.033333
5   1988       5.422222
6   1989       5.277778
7   1990       5.722222
8   1991       6.933333
9   1992       7.533333
10  1993       6.833333
11  1994       5.944444
12  1995       5.633333
13  1996       5.366667
14  1997       4.844444
15  1998       4.455556
16  1999       4.188889
17  2000       3.944444
18  2001       4.911111
19  2002       5.811111
20  2003       6.033333
21  2004       5.488889
22  2005       5.011111
23  2006       4.566667
24  2007       4.655556
25  2008       6.066667
26  2009       9.622222
27  2010       9.533333
28  2011       8.900000
29  2012       8.011111
30  2013       7.233333
31  2014       5.988889
32  2015       5.188889
33  2016       4.866667
34  2017       4.288889
35  2018       3.844444
36  2019       3.611111
37  2020       9.511111
38  2021       5.055556
39  2022       3.577778
40  2023       3.666667