In [37]:
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib as plt
from collections import defaultdict
import math
import matplotlib.pyplot as plt

In [38]:
def get_data(portfolio, start_date, end_date):
    # Initialize an empty DataFrame
    data = pd.DataFrame()

    # Loop through each country in the portfolio
    for tickers in portfolio:
        # Download data for each ticker
        df = yf.download(tickers, start=start_date, end=end_date)

        # Concatenate the data to the main DataFrame
        data = pd.concat([data, df], axis=1)

    return data

In [39]:
START_DATE = "1984-01-01"
END_DATE = "2024-04-26"
columns = ['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'] # total data
features = ['Open', 'Close', 'High', 'Low', 'Volume'] # input features
portfolio = ['^GSPC']

In [40]:
data = get_data(portfolio, start_date=START_DATE, end_date=END_DATE)
data.interpolate(method = 'linear', inplace = True,limit_direction = 'both')

[*********************100%%**********************]  1 of 1 completed

In [41]:
jan_to_april = data[(data.index.month >= 1) & (data.index.month <= 4)]
july_to_oct = data[(data.index.month >= 8) & (data.index.month <= 10) | ((data.index.month == 7) & (data.index.day == 31))]

In [42]:
def filter_by_yr(df, start_yr, end_yr):
	dfs_by_year = {}

	for year in range(start_yr, end_yr + 1):
		dfs_by_year[year] = df[df.index.year == year]

	return dfs_by_year

In [43]:
jan_to_april_by_yr = filter_by_yr(jan_to_april, 1984, 2024)
july_to_oct_by_yr = filter_by_yr(july_to_oct, 1984, 2024)

In [44]:
def generate_labels(df, start_yr, end_yr):
	labels = []

	for year in range(start_yr, end_yr + 1):
		curr = df[year]
		diff = curr["Adj Close"].iloc[-1] - curr["Adj Close"].iloc[0]
		print("Year " + str(year) + ": " + str(diff))
		labels.append(1 if diff > 0 else 0)

	return labels

In [45]:
labels = generate_labels(july_to_oct_by_yr, 1984, 2023)
labels.append("NA")

Year 1984: 15.42999267578125
Year 1985: -1.0999908447265625
Year 1986: 7.8600006103515625
Year 1987: -66.87001037597656
Year 1988: 6.760009765625
Year 1989: -5.720001220703125
Year 1990: -52.149993896484375
Year 1991: 4.6400146484375
Year 1992: -5.529998779296875
Year 1993: 17.67999267578125
Year 1994: 11.339996337890625
Year 1995: 19.44000244140625
Year 1996: 65.32000732421875
Year 1997: -39.69000244140625
Year 1998: -22.0
Year 1999: 34.8800048828125
Year 2000: -1.429931640625
Year 2001: -151.449951171875
Year 2002: -25.8599853515625
Year 2003: 60.39996337890625
Year 2004: 23.5799560546875
Year 2005: -28.3399658203125
Year 2006: 101.2799072265625
Year 2007: 94.1099853515625
Year 2008: -298.6300048828125
Year 2009: 48.7099609375
Year 2010: 57.4000244140625
Year 2011: -33.639892578125
Year 2012: 32.840087890625
Year 2013: 70.81005859375
Year 2014: 87.3800048828125
Year 2015: -24.47998046875
Year 2016: -44.690185546875
Year 2017: 104.9599609375
Year 2018: -104.550048828125
Year 2019: 57.18017578125
Year 2020: -1.16015625
Year 2021: 218.2197265625
Year 2022: -246.64990234375
Year 2023: -395.16015625

In [46]:
jan_to_april_by_yr[2009]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2009-01-02,902.989990,934.729980,899.349976,931.799988,931.799988,4048270000
2009-01-05,929.169983,936.630005,919.530029,927.450012,927.450012,5413910000
2009-01-06,931.169983,943.849976,927.280029,934.700012,934.700012,5392620000
2009-01-07,927.450012,927.450012,902.369995,906.650024,906.650024,4704940000
2009-01-08,905.729980,910.000000,896.809998,909.729980,909.729980,4991550000
...,...,...,...,...,...,...
2009-04-24,853.909973,871.799988,853.909973,866.229980,866.229980,7114440000
2009-04-27,862.820007,868.830017,854.650024,857.510010,857.510010,5613460000
2009-04-28,854.479980,864.479980,847.119995,855.159973,855.159973,6328000000
2009-04-29,856.849976,882.059998,856.849976,873.640015,873.640015,6101620000
2009-04-30,876.590027,888.700012,868.510010,872.809998,872.809998,6862540000

In [47]:
idx = [i for i in range(1984, 2025)]
#np.empty((len(idx), 85)) * np.nan
df = pd.DataFrame()

In [48]:
for year in idx:
	row = np.array(jan_to_april_by_yr[year]["Adj Close"])
	df[year] = pd.Series(row)

In [49]:
df = df.T

def fill_with_row_median(row):
    median = row.median()
    return row.fillna(median)

# Apply the function across the rows (axis=1)
df = df.apply(fill_with_row_median, axis=1)

In [50]:
col_list = ["S&P_datapoint_{}".format(i) for i in range(1, 84)]

In [51]:
df.columns = col_list

In [52]:
df["label"] = labels

In [53]:
df.to_csv("clean/s&p_data.csv", index = True)

In [54]:
df

,S&P_datapoint_1,S&P_datapoint_2,S&P_datapoint_3,S&P_datapoint_4,S&P_datapoint_5,S&P_datapoint_6,S&P_datapoint_7,S&P_datapoint_8,S&P_datapoint_9,S&P_datapoint_10,...,S&P_datapoint_75,S&P_datapoint_76,S&P_datapoint_77,S&P_datapoint_78,S&P_datapoint_79,S&P_datapoint_80,S&P_datapoint_81,S&P_datapoint_82,S&P_datapoint_83,label
1984,164.039993,166.779999,168.809998,169.279999,168.899994,167.949997,167.800003,167.750000,167.020004,167.179993,...,158.970001,157.899994,158.020004,156.800003,158.070007,158.649994,160.300003,159.889999,160.050003,1
1985,165.369995,164.570007,163.679993,164.240005,163.990005,165.179993,168.309998,167.910004,170.509995,170.809998,...,180.839996,181.110001,180.699997,181.880005,182.259995,183.429993,182.179993,180.630005,179.830002,0
1986,209.589996,210.880005,210.649994,213.800003,207.970001,206.110001,205.960007,206.720001,206.639999,208.259995,...,242.380005,244.740005,242.419998,241.750000,242.020004,242.289993,243.080002,240.509995,235.520004,1
1987,246.449997,252.190002,252.779999,255.330002,257.279999,258.730011,260.299988,259.950012,262.640015,265.489990,...,286.089996,293.070007,287.190002,286.820007,281.519989,281.829987,282.510010,284.570007,288.359985,0
1988,255.940002,258.630005,258.890015,261.070007,243.399994,247.490005,245.419998,245.809998,245.880005,252.050003,...,257.920013,256.130005,256.420013,260.140015,262.510010,263.929993,263.799988,262.609985,261.329987,1
1989,275.309998,279.429993,280.010010,280.670013,280.980011,280.380005,282.010010,283.170013,283.869995,284.140015,...,307.149994,306.190002,309.609985,308.690002,306.750000,306.929993,309.579987,309.640015,293.899994,0
1990,359.690002,358.760010,355.670013,352.200012,353.790009,349.619995,347.309998,348.529999,339.929993,337.000000,...,340.720001,338.089996,335.119995,331.049988,330.359985,332.029999,332.920013,329.109985,330.799988,0
1991,326.450012,321.910004,321.000000,315.440002,314.899994,311.489990,314.529999,315.230011,312.489990,313.730011,...,388.459991,384.200012,380.950012,381.760010,382.760010,379.250000,379.019989,373.660004,375.339996,1
1992,417.260010,419.339996,417.959991,417.399994,418.100006,417.609985,415.100006,414.339996,420.440002,420.769989,...,416.040009,410.179993,410.260010,409.809998,411.600006,409.019989,408.450012,409.109985,412.019989,0
1993,435.380005,434.339996,434.519989,430.730011,429.049988,430.950012,431.040009,433.029999,435.940002,437.149994,...,445.100006,443.630005,439.459991,437.029999,433.540009,438.010010,438.019989,438.890015,440.190002,1
1994,465.440002,466.890015,467.549988,467.119995,469.899994,475.269989,474.130005,474.170013,472.470001,474.910004,...,442.540009,441.959991,448.730011,447.630005,452.709991,451.869995,449.100006,450.910004,467.265015,1
1995,459.109985,460.709991,460.339996,460.679993,460.829987,461.679993,461.660004,461.640015,465.970001,469.380005,...,504.920013,505.290009,508.489990,512.890015,512.099976,512.659973,513.549988,514.710022,485.320007,1
1996,620.729980,621.320007,617.700012,616.710022,618.460022,609.450012,598.479980,602.690002,601.809998,599.820007,...,641.609985,643.609985,645.070007,647.890015,651.580017,650.169983,652.869995,653.460022,654.159973,1
1997,737.010010,748.030029,747.650024,753.229980,748.409973,754.849976,759.500000,759.510010,768.859985,767.200012,...,766.340027,760.369995,774.609985,773.640015,771.179993,765.369995,772.960022,794.049988,801.340027,0
1998,975.039978,977.070007,966.580017,964.000000,956.049988,927.690002,939.210022,952.119995,957.940002,950.729980,...,1126.670044,1130.540039,1119.579956,1107.900024,1086.540039,1085.109985,1094.619995,1111.750000,1049.005005,0
1999,1228.099976,1244.780029,1272.339966,1269.729980,1275.089966,1263.880005,1239.510010,1234.400024,1212.189941,1243.260010,...,1336.119995,1358.819946,1356.849976,1360.040039,1362.800049,1350.910034,1342.829956,1335.180054,1272.669983,1
2000,1455.219971,1399.420044,1402.109985,1403.449951,1441.469971,1457.599976,1438.560059,1432.250000,1449.680054,1465.150024,...,1441.609985,1427.469971,1434.540039,1429.859985,1477.439941,1460.989990,1464.920044,1452.430054,1426.219971,0
2001,1283.270020,1347.560059,1333.339966,1298.349976,1295.859985,1300.800049,1313.270020,1326.819946,1318.550049,1326.650024,...,1253.689941,1242.979980,1224.359985,1209.469971,1228.750000,1234.520020,1253.050049,1249.459961,1253.369995,0
2002,1154.670044,1165.270020,1172.510010,1164.890015,1160.709961,1155.140015,1156.550049,1145.599976,1138.410034,1146.189941,...,1125.170044,1107.829956,1100.959961,1093.140015,1091.479980,1076.319946,1065.449951,1076.920044,1127.574951,0
2003,909.030029,908.590027,929.010010,922.929993,909.929993,927.570007,927.570007,926.260010,931.659973,918.219971,...,892.010010,911.369995,919.020020,911.429993,898.809998,914.840027,917.840027,916.919983,866.220001,1
2004,1108.479980,1122.219971,1123.670044,1126.329956,1131.920044,1121.859985,1127.229980,1121.219971,1130.520020,1132.050049,...,1118.150024,1124.089966,1139.930054,1140.599976,1135.530029,1138.109985,1122.410034,1113.890015,1107.300049,1
2005,1202.079956,1188.050049,1183.739990,1187.890015,1186.189941,1190.250000,1182.989990,1187.699951,1177.449951,1184.520020,...,1137.500000,1159.949951,1152.119995,1162.099976,1151.829956,1156.380005,1143.219971,1156.849976,1185.409973,0
2006,1268.800049,1273.459961,1273.479980,1285.449951,1290.150024,1289.689941,1294.180054,1286.060059,1287.609985,1282.930054,...,1311.459961,1311.280029,1308.109985,1301.739990,1305.410034,1309.719971,1310.609985,1287.790039,1287.790039,1
2007,1416.599976,1418.339966,1409.709961,1412.839966,1412.109985,1414.849976,1423.819946,1430.729980,1431.900024,1430.619995,...,1484.349976,1480.930054,1480.410034,1495.420044,1494.250000,1494.069946,1482.369995,1434.540039,1434.540039,1
2008,1447.160034,1447.160034,1411.630005,1416.180054,1390.189941,1409.130005,1420.329956,1401.020020,1416.250000,1380.949951,...,1390.329956,1388.170044,1375.939941,1379.930054,1388.819946,1397.839966,1396.369995,1390.939941,1385.589966,0
2009,931.799988,927.450012,934.700012,906.650024,909.729980,890.349976,870.260010,871.789978,842.619995,843.739990,...,850.080017,843.549988,851.919983,866.229980,857.510010,855.159973,873.640015,872.809998,832.309998,1
2010,1132.989990,1136.520020,1137.140015,1141.689941,1144.979980,1146.979980,1136.219971,1145.680054,1148.459961,1136.030029,...,1205.939941,1208.670044,1217.280029,1212.050049,1183.709961,1191.359985,1206.780029,1186.689941,1145.294983,1
2011,1271.869995,1270.199951,1276.560059,1273.849976,1271.500000,1269.750000,1274.479980,1285.959961,1283.760010,1293.239990,...,1312.619995,1330.359985,1337.380005,1335.250000,1347.239990,1355.660034,1360.479980,1363.609985,1310.529968,0
2012,1277.060059,1277.300049,1281.060059,1277.810059,1280.699951,1292.079956,1292.479980,1295.500000,1289.089966,1293.670044,...,1376.920044,1378.530029,1366.939941,1371.969971,1390.689941,1399.979980,1403.359985,1397.910034,1365.710022,1
2013,1462.420044,1459.369995,1466.469971,1461.890015,1457.150024,1461.020020,1472.119995,1472.050049,1470.680054,1472.339966,...,1555.250000,1562.500000,1578.780029,1578.790039,1585.160034,1582.239990,1593.609985,1597.569946,1528.069946,1
2014,1831.979980,1831.369995,1826.770020,1837.880005,1837.489990,1838.130005,1842.369995,1819.199951,1838.880005,1848.380005,...,1871.890015,1879.550049,1875.390015,1878.609985,1863.400024,1869.430054,1878.329956,1883.949951,1845.445007,1
2015,2058.199951,2020.579956,2002.609985,2025.900024,2062.139893,2044.810059,2028.260010,2023.030029,2011.270020,1992.670044,...,2097.290039,2107.959961,2112.929932,2117.689941,2108.919922,2114.760010,2106.850098,2085.510010,2077.880005,0
2016,2012.660034,2016.709961,1990.260010,1943.089966,1922.030029,1923.670044,1938.680054,1890.280029,1921.839966,1880.329956,...,2102.399902,2091.479980,2091.580078,2087.790039,2091.699951,2095.149902,2075.810059,2065.300049,1989.914978,0
2017,2257.830078,2270.750000,2269.000000,2276.979980,2268.899902,2268.899902,2275.320068,2270.439941,2274.639893,2267.889893,...,2355.840088,2348.689941,2374.149902,2388.610107,2387.449951,2388.770020,2384.199951,2348.689941,2348.689941,1
2018,2695.810059,2713.060059,2723.989990,2743.149902,2747.709961,2751.290039,2748.229980,2767.560059,2786.239990,2776.419922,...,2693.129883,2670.139893,2670.290039,2634.560059,2639.399902,2666.939941,2669.909912,2648.050049,2712.424927,0
2019,2510.030029,2447.889893,2531.939941,2549.689941,2574.409912,2584.959961,2596.639893,2596.260010,2582.610107,2610.300049,...,2905.030029,2907.969971,2933.679932,2927.250000,2926.169922,2939.879883,2943.030029,2945.830078,2790.584961,1
2020,3257.850098,3234.850098,3246.280029,3237.179932,3253.050049,3274.699951,3265.350098,3288.129883,3283.149902,3289.290039,...,2823.159912,2736.560059,2799.310059,2797.800049,2836.739990,2878.479980,2863.389893,2939.510010,2912.429932,0
2021,3700.649902,3726.860107,3748.139893,3803.790039,3824.679932,3799.610107,3801.189941,3809.840088,3795.540039,3768.250000,...,4173.419922,4134.979980,4180.169922,4187.620117,4186.720215,4183.180176,4211.470215,4181.169922,3910.875000,1
2022,4796.560059,4793.540039,4700.580078,4696.049805,4677.029785,4670.290039,4713.069824,4726.350098,4659.029785,4662.850098,...,4459.450195,4393.660156,4271.779785,4296.120117,4175.200195,4183.959961,4287.500000,4131.930176,4457.845215,0
2023,3824.139893,3852.969971,3808.100098,3895.080078,3892.090088,3919.250000,3969.610107,3983.169922,3999.090088,3990.969971,...,4129.790039,4133.520020,4137.040039,4071.629883,4055.989990,4135.350098,4169.479980,4019.810059,4019.810059,0
2024,4742.830078,4704.810059,4688.680176,4697.240234,4763.540039,4756.500000,4783.450195,4780.240234,4783.830078,4765.979980,...,5011.120117,4967.229980,5010.600098,5070.549805,5071.629883,5048.419922,5049.915039,5049.915039,5049.915039,NA